/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.MBM-Box html, 
.MBM-Box body, 
.MBM-Box div, 
.MBM-Box span, 
.MBM-Box applet, 
.MBM-Box object, 
.MBM-Box iframe,
.MBM-Box h1, 
.MBM-Box h2, 
.MBM-Box h3, 
.MBM-Box h4, 
.MBM-Box h5, 
.MBM-Box h6, 
.MBM-Box p, 
.MBM-Box blockquote,
.MBM-Box pre,
.MBM-Box a, 
.MBM-Box abbr, 
.MBM-Box acronym, 
.MBM-Box address, 
.MBM-Box big, 
.MBM-Box cite, 
.MBM-Box code,
.MBM-Box del, 
.MBM-Box dfn, 
.MBM-Box em, 
.MBM-Box img, 
.MBM-Box ins, 
.MBM-Box kbd, 
.MBM-Box q, 
.MBM-Box s, 
.MBM-Box samp,
.MBM-Box small, 
.MBM-Box strike, 
.MBM-Box strong, 
.MBM-Box sub, 
.MBM-Box sup, 
.MBM-Box tt, 
.MBM-Box var,
.MBM-Box b, 
.MBM-Box u, 
.MBM-Box i, 
.MBM-Box center,
.MBM-Box dl, 
.MBM-Box dt, 
.MBM-Box dd, 
.MBM-Box ol, 
.MBM-Box ul, 
.MBM-Box li,
.MBM-Box fieldset, 
.MBM-Box form, 
.MBM-Box label, 
.MBM-Box legend,
.MBM-Box table, 
.MBM-Box caption, 
.MBM-Box tbody, 
.MBM-Box tfoot, 
.MBM-Box thead, 
.MBM-Box tr, 
.MBM-Box th, 
.MBM-Box td,
.MBM-Box article, 
.MBM-Box aside, 
.MBM-Box canvas, 
.MBM-Box details, 
.MBM-Box embed, 
.MBM-Box figure, 
.MBM-Box figcaption, 
.MBM-Box footer, 
.MBM-Box header, 
.MBM-Box hgroup, 
.MBM-Box menu, 
.MBM-Box nav, 
.MBM-Box output, 
.MBM-Box ruby, 
.MBM-Box section, 
.MBM-Box summary,
.MBM-Box time, 
.MBM-Box mark, 
.MBM-Box audio, 
.MBM-Box video 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

/* HTML5 display-role reset for older browsers */
.MBM-Box article, 
.MBM-Box aside, 
.MBM-Box details, 
.MBM-Box figcaption, 
.MBM-Box figure, 
.MBM-Box footer, 
.MBM-Box header, 
.MBM-Box hgroup, 
.MBM-Box menu, 
.MBM-Box nav, 
.MBM-Box section
	display: block;

.MBM-Box ol, 
.MBM-Box ul
	list-style: none;

.MBM-Box blockquote, 
.MBM-Box q 
	quotes: none;

.MBM-Box blockquote:before, 
.MBM-Box blockquote:after,
.MBM-Box q:before, 
.MBM-Box q:after
	content: '';
	content: none;


.MBM-Box table
	border-collapse: collapse;
	border-spacing: 0;


.MBM-Overlay html, 
.MBM-Overlay body, 
.MBM-Overlay div, 
.MBM-Overlay span, 
.MBM-Overlay applet, 
.MBM-Overlay object, 
.MBM-Overlay iframe,
.MBM-Overlay h1, 
.MBM-Overlay h2, 
.MBM-Overlay h3, 
.MBM-Overlay h4, 
.MBM-Overlay h5, 
.MBM-Overlay h6, 
.MBM-Overlay p, 
.MBM-Overlay blockquote,
.MBM-Overlay pre,
.MBM-Overlay a, 
.MBM-Overlay abbr, 
.MBM-Overlay acronym, 
.MBM-Overlay address, 
.MBM-Overlay big, 
.MBM-Overlay cite, 
.MBM-Overlay code,
.MBM-Overlay del, 
.MBM-Overlay dfn, 
.MBM-Overlay em, 
.MBM-Overlay img, 
.MBM-Overlay ins, 
.MBM-Overlay kbd, 
.MBM-Overlay q, 
.MBM-Overlay s, 
.MBM-Overlay samp,
.MBM-Overlay small, 
.MBM-Overlay strike, 
.MBM-Overlay strong, 
.MBM-Overlay sub, 
.MBM-Overlay sup, 
.MBM-Overlay tt, 
.MBM-Overlay var,
.MBM-Overlay b, 
.MBM-Overlay u, 
.MBM-Overlay i, 
.MBM-Overlay center,
.MBM-Overlay dl, 
.MBM-Overlay dt, 
.MBM-Overlay dd, 
.MBM-Overlay ol, 
.MBM-Overlay ul, 
.MBM-Overlay li,
.MBM-Overlay fieldset, 
.MBM-Overlay form, 
.MBM-Overlay label, 
.MBM-Overlay legend,
.MBM-Overlay table, 
.MBM-Overlay caption, 
.MBM-Overlay tbody, 
.MBM-Overlay tfoot, 
.MBM-Overlay thead, 
.MBM-Overlay tr, 
.MBM-Overlay th, 
.MBM-Overlay td,
.MBM-Overlay article, 
.MBM-Overlay aside, 
.MBM-Overlay canvas, 
.MBM-Overlay details, 
.MBM-Overlay embed, 
.MBM-Overlay figure, 
.MBM-Overlay figcaption, 
.MBM-Overlay footer, 
.MBM-Overlay header, 
.MBM-Overlay hgroup, 
.MBM-Overlay menu, 
.MBM-Overlay nav, 
.MBM-Overlay output, 
.MBM-Overlay ruby, 
.MBM-Overlay section, 
.MBM-Overlay summary,
.MBM-Overlay time, 
.MBM-Overlay mark, 
.MBM-Overlay audio, 
.MBM-Overlay video 
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

/* HTML5 display-role reset for older browsers */
.MBM-Overlay article, 
.MBM-Overlay aside, 
.MBM-Overlay details, 
.MBM-Overlay figcaption, 
.MBM-Overlay figure, 
.MBM-Overlay footer, 
.MBM-Overlay header, 
.MBM-Overlay hgroup, 
.MBM-Overlay menu, 
.MBM-Overlay nav, 
.MBM-Overlay section
	display: block;

.MBM-Overlay ol, 
.MBM-Overlay ul
	list-style: none;

.MBM-Overlay blockquote, 
.MBM-Overlay q 
	quotes: none;

.MBM-Overlay blockquote:before, 
.MBM-Overlay blockquote:after,
.MBM-Overlay q:before, 
.MBM-Overlay q:after
	content: '';
	content: none;


.MBM-Overlay table
	border-collapse: collapse;
	border-spacing: 0;

.MBM-Box *, 
.MBM-Overlay *
	box-sizing: unset

	